* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

h1 {
    color:lightskyblue; 
    text-align: center;
}

.contenedorCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #ccc;
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}

